* {
  box-sizing: border-box;
}

body {
  background: #1c203d;
}

.navbar{
  text-align: center;
  color: #ffc40a;
}


.todo-heading {
  text-align: center;
}
.todo-s{
    border: none;
    font-size: 1.3em;
    background: transparent;
}
.mt-5 {
  margin-top: 5%;
}

.list-group {
  padding-bottom: 10px;
}

.list-group-item {
  margin: 10px 20px;
  padding: 10px 20px 5px 20px;
  border-radius: 0px;
}

.container {
  background: #17192b;
  margin-top: 5%;
  color: #ffc40a;
}
.desc-p{
  background-color: #17192b;
  color: #ffc40a;
  padding: 0px 15px;
  border-radius: 20px;
  margin-left: 10px;
  padding:2px 10px;

}
.d{
  margin: 5px 0px 0px -20px;
}
.app {
  margin: 5% auto;
  padding-bottom: 2%;
  padding-top: 2%;
}
.card-header{
  color:#1c203d;
}
.card-header img {
  float: right;
  margin-top: -10px;
  width: 40px;
}

.list-group-item {
  color: #1c203d;
}

.form-control {
  margin: 2px;
}

#reset_button {
  background: #d32f2f;
  color: #1c203d;
}

#submit_button {
  background: #ffc40a;
  color: #1c203d;
}

.todos-area {
  background: #17192b;
}